$minMobile: 300px;
$maxMobile: 700px;
$minTablet: 700px;
$maxTablet: 1025px;
$minWeb: 1025;
$maxWeb: 3000;

@mixin responsive($device) {
  @if $device == "mobile" {
    @media screen and (min-width: $minMobile) and (max-width: $maxMobile) {
      @content;
    }
  } @else if $device == "mobNtab" {
    @media screen and (min-width: $minMobile) and (max-width: $maxTablet) {
      @content;
    }
  } @else if $device == "tablet" {
    @media screen and (min-width: $minTablet) and (max-width: $maxTablet) {
      @content;
    }
  } @else if $device == "mobToWeb" {
    @media screen and (min-width: $minMobile) and (max-width: $maxWeb) {
      @content;
    }
  } @else if $device == "web" {
    @media screen and (min-width: $minWeb) and (max-width: $maxWeb) {
      @content;
    }
  }
}
