@import "_reset.scss";
@import "_variables";
@import "_mixins";
@import "_responsive-mixins.scss";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://use.typekit.net/cyr0xpl.css");

* {
  box-sizing: border-box;
}

button,
input {
  all: unset;
}

body {
  height: 100vh;
  width: 100%;
  padding-top: 150px;
  @include responsive("mobToWeb") {
    padding-top: 20px;
  }
}

.header {
  @include main-font;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  font-size: 12px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  @include responsive("mobToWeb") {
    padding: 5px 17px;
    font-size: 10px;
  }
  @include responsive("max") {
    padding: 50px 140px;
  }
  .logo {
    width: 60px;
    height: 60px;
    padding: 0px 5px;
    img {
      width: 100%;
      height: 100%;
    }
    @include responsive("mobToWeb") {
      width: 30px;
      height: 30px;
    }
  }
  div {
    padding: 5px 0px;
  }
  .header__column {
    display: flex;
    width: 33%;
    div {
      cursor: pointer;
    }

    &:nth-child(2) {
      justify-content: center;
    }
    &:last-child {
      justify-content: flex-end;
      display: flex;
      align-items: center;
    }
  }
  .cart {
    display: flex;
    align-items: center;
  }
  .button {
    padding: 10px 30px 10px 0px;
  }
  .journal {
    padding: 10px 0px 10px 30px;
  }
  i {
    padding-right: 12px;
    font-size: 13px;
  }
}

.shrinkHeader {
  padding: 5px 50px;
  transition: 0.4s ease-in-out;
  font-size: 10px;
  @include responsive("mobToWeb") {
    padding: 5px 17px;
  }
  @include responsive("max") {
    padding: 5px 140px;
  }
}

.shrinkImg {
  width: 47px !important;
  transition: 0.2s ease-in-out;
  padding: 0px 5px;
  @include responsive("mobToWeb") {
    width: 30px;
    padding: 5px;
  }
}

main {
  width: 100%;
  @include responsive("mobToWeb") {
    padding: 0px;
    margin-top: 30px;
  }

  .banner {
    @include sub-font;
    color: white;
    position: relative;
    padding: 0px 50px;
    margin-bottom: 40px;
    img {
      width: 100%;
    }
    @include banner-css(white, $main-black);
    @include responsive("mobNtab") {
      padding: 0px;
      margin-bottom: 40px;
      position: static;
      @include banner-css($main-black, white);
    }
    @include responsive("web01") {
      padding: 0px;
      margin-bottom: 40px;
    }
    @include responsive("max") {
      padding: 20px 140px 0px 140px;
    }
  }
  .studio {
    img {
      object-fit: cover;
    }
    padding: 40px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    @include card-css;
    .card__title {
      font-weight: 600 !important;
      font-size: 12px !important;
    }
    @include responsive("mobToWeb") {
      padding: 40px 0px;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
    }
    @include responsive("max") {
      padding: 40px 140px;
    }
    button {
      margin-top: 50px;
      border: 1px solid black;
      width: 295px;
      height: 55px;
      @include responsive("mobile") {
        width: 270px;
      }
      @include main-font;
      display: grid;
      grid-template-columns: 8fr 1fr;
      align-items: center;
      @include transition($main-black, white);
      &:hover {
        .arrow-btn {
          border: none;
          color: $main-black;
        }
      }
      .book-btn {
        justify-self: flex-start;
        padding: 10px 25px;
      }
      .arrow-btn {
        border-left: 1px solid $main-black;
        justify-self: center;
        font-size: 20px;
        padding: 12.5px 20px;
      }
    }
  }
  .shop {
    padding: 40px 50px;
    width: 100%;
    .shop__header {
      @include header-css("big");
    }
    @include responsive("max") {
      padding: 40px 140px;
    }
    @include responsive("mobile") {
      padding: 40px;
    }
    .carousel-indicators li {
      background-color: black;
    }
    .prod__list {
      @include responsive("webToMax") {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        justify-items: center;
        width: 100%;
      }
      @include responsive("tablet") {
        padding: 50px;
      }
      @include responsive("mobile") {
        padding: 20px 0px;
      }
      .prod__item {
        @include responsive("webToMax") {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          width: 100%;
        }
        img {
          width: 100%;
          cursor: pointer;
          object-fit: scale-down;
        }
        .prod__desc {
          @include main-font;
          width: 100%;
          background-color: white;
          @include responsive("mobNtab") {
            padding-bottom: 10px;
          }
        }
        .carousel-caption {
          position: relative !important;
          left: auto !important;
          right: auto !important;
          background-color: white;
        }
        .prod__type {
          color: black;
          cursor: pointer;
        }
        .prod__name {
          @include sub-font;
          font-size: 25px;
          font-style: italic;
          padding: 10px 0px;
          cursor: pointer;
        }
        .prod__price {
          padding: 20px 0px;
          cursor: pointer;
        }
        .add-cart {
          @include main-font;
          margin-top: 15px;
          padding: 7% 25%;
          border: 1px solid black;
          color: black;
          @include responsive("mobNtab") {
            padding: 20px 30%;
          }
          &:hover {
            background-color: $main-black;
            color: white;
            transition: 0.3s ease-in-out;
            cursor: pointer;
          }
        }
      }
    }
  }
  .gift {
    @include sub-font;
    color: white;
    position: relative;
    padding: 40px 50px;
    img {
      width: 100%;
    }
    .banner__btn {
      padding: 22px 75px !important;
    }
    @include responsive("mobToWeb") {
      padding: 40px 0px;
    }
    @include responsive("max") {
      padding: 40px 140px;
    }
    @include banner-css($main-black, white);
  }
  .brand-new {
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include responsive("mobNtab") {
      padding: 40px 25px;
      .carousel-indicators li {
        background-color: black;
      }
    }
    .brand-new__header {
      @include header-css("big");
      @include responsive("mobNtab") {
        @include header-css("big");
      }
      text-align: center;
    }
    .new__list {
      cursor: pointer;
      @include responsive("webToMax") {
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 100%;
        padding: 70px 40px;
        margin: 0px 10%;
        width: 80%;
      }
      @include responsive("mobNtab") {
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto auto;
        padding: 50px 0px;
      }
      @include responsive("tablet") {
        margin: 0px 15%;
      }
      @include responsive("web01") {
        padding: 70px 40px;
        margin: 0px;
        width: 100%;
      }
      align-items: center;
      .new__item {
        img {
          width: 100%;
        }
        padding: 15px;
        justify-items: center;
        border-left: 1px solid rgba(0, 0, 0, 0.363);
        @include responsive("mobNtab") {
          border: none;
        }
      }
      #no-border {
        border: none;
      }
    }
    button {
      @include main-font;
      margin-top: 15px;
      padding: 22px 77px;
      border: 1px solid black;
      color: black;
      @include transition($main-black, white);
    }
  }
  .brand-story {
    img {
      object-fit: cover;
    }
    padding: 40px 50px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-self: center;
    @include card-css;
    @include responsive("mobToWeb") {
      padding: 50px 0px;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      .order:nth-of-type(3) {
        order: 3;
      }
      .order:nth-of-type(4) {
        order: 2;
      }
      .order:nth-of-type(5) {
        order: 4;
      }
      .order:nth-of-type(6) {
        order: 5;
      }
    }
    @include responsive("web01") {
      padding: 40px 50px;
    }
    @include responsive("max") {
      padding: 40px 140px;
    }
    .card__content .card__title {
      @include sub-font;
      font-size: 14px;
    }
    .card__btn {
      @include main-font;
      // height: 55px;
      padding: 3% 25px 0px 25px;
      cursor: pointer;
      display: flex;
      align-items: center;
      div {
        display: flex;
        align-items: center;
      }
      &:hover {
        i {
          transform: translateX(5px);
          transition: transform 0.2s cubic-bezier(0.77, 0, 0.175, 1);
        }
      }
      i {
        font-size: 15px;
        padding: 3px 3px 4px 10px;
      }
    }
  }
  .subscription {
    padding: 40px 50px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .subscription__header {
      @include header-css("big");
      text-align: center;
      @include responsive("mobNtab") {
        @include header-css("small");
      }
      .header__desc {
        max-width: 700px;
        @include responsive("mobNtab") {
          max-width: none;
          padding: 0px 25px;
        }
        @include responsive("web01") {
          max-width: none;
          padding: 0px 45px;
          max-width: 800px;
        }
      }
    }
    @include responsive("mobNtab") {
      padding: 40px 0px;
    }
    form {
      margin-top: 70px;
      width: 700px;
      @include responsive("mobToWeb") {
        max-width: 700px;
        width: 90%;
      }
    }
    input {
      border-bottom: 1px solid black;
      padding: 20px 60px 20px 0px;
      font-size: 30px;
      width: 90%;
      @include responsive("mobToWeb") {
        padding: 20px 0px;
        width: 100%;
        font-size: 25px;
      }
    }
    input::placeholder {
      font-weight: 100;
      font-size: 35px;
      color: rgba(0, 0, 0, 0.3);
      @include responsive("mobToWeb") {
        font-size: 25px;
      }
    }
    .buttonIn {
      @include responsive("mobToWeb") {
        position: relative;
        padding: 0px 10px;
      }
    }
    button {
      margin-left: -53px;
      margin-bottom: 10px;
      border: 1px solid black;
      padding: 14px 16px;
      cursor: pointer;
      transform: translateY(-10px);
      @include responsive("mobToWeb") {
        transform: translateY(0px);
        position: absolute;
        top: 5px;
        right: 10px;
        padding: 12px 13px;
      }
    }
  }
  .concept-photo {
    padding: 40px 50px;
    @include responsive("mobNtab") {
      padding: 40px 0px;
    }
    @include responsive("web01") {
      padding: 50px 0px;
    }
    @include responsive("max") {
      padding: 40px 140px;
    }
  }
  .insta {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    @include responsive("mobNtab") {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
    }
    @include responsive("max") {
      padding: 40px 140px;
    }

    div {
      width: 100%;
      height: 100%;
      &:hover {
        opacity: 0.5;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .follow {
    padding: 50px;
    display: flex;
    justify-content: center;
    padding-bottom: 140px;
    @include sub-font;
    font-size: 38px;
    @include responsive("mobNtab") {
      font-size: 20px;
      display: none;
    }
    @include responsive("web01") {
      font-size: 25px;
      padding-top: 20px;
      padding-bottom: 80px;
    }
  }
}

nav {
  @include main-font;
  display: grid !important;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 260px;
  align-items: center;
  justify-items: center;
  justify-content: space-evenly;
  text-align: center;
  background-color: $beige;
  padding: 0px 30px;
  margin-top: 50px;
  @include responsive("mobNtab") {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: 0px 30px;
    .nav__column {
      padding: 35px;

      &:nth-of-type(1) {
        order: 1;
      }
      &:nth-of-type(2) {
        order: 0;
      }
      &:nth-of-type(3) {
        order: 2;
      }
    }
  }
  .nav__column:nth-child(2) {
    padding: 0px 33%;
    border-right: 1px solid $main-black;
    border-left: 1px solid $main-black;
    @include responsive("mobNtab") {
      border: none;
      padding: 35px 30%;
    }
  }
  @include responsive("mobNtab") {
    .nav__column:first-child {
      border-top: 1px solid $main-black;
      border-bottom: 1px solid $main-black;
      padding: 35px 20%;
    }
  }
  .nav__title {
    margin-bottom: 25px;
    color: rgba(0, 0, 0, 0.4);
  }
  .nav__list {
    padding: 7px 0px;
    width: max-content;
    margin: auto;
  }
}

.italic {
  @include italic-font;
}

.transparent {
  color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  &:before {
    content: "\00a0";
  }
}

.none {
  display: none !important;
}
