$indi-yellow: #e4c563;
$bg-yellow-light: #e5c974;
$bg-yellow: #e5c254;
$indi-green: #558649;
$bg-green-light: #5e8c53;
$bg-green: #4d7f42;
$indi-blue: #8abddd;
$bg-blue-light: #a4c8df;
$bg-blue: #8abddd;
$indi-red: #dc534d;
$bg-red-light: #dc625c;
$bg-red: #dd443d;
$indi-beige: #cfbbae;
$bg-beige-light: #cfbbae;
$bg-beige: #caa996;
$indi-purple: #188ca0;
$bg-purple-light: #1f96aa;
$bg-purple: #138295;
$indi-orange: #ec9860;
$bg-orange-light: #eba170;
$bg-orange: #ed8e4e;
