@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400&display=swap");
@import url("https://use.typekit.net/cyr0xpl.css");
@import "_reset.scss";
@import "_variables.scss";
@import "_mixins.scss";
@import "_responsive-mixins.scss";

* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

button {
  all: unset;
  cursor: pointer;
  &:focus {
    outline: 0 !important;
  }
}

a {
  all: unset;
  cursor: pointer;
  &:visited {
    color: black;
    text-decoration: none;
  }
  &:hover {
    color: rgba(0, 0, 0, 0.3);
    background-color: transparent;
  }
}

body {
  height: 100vh;
  width: 100%;
  padding-top: 108px;
  font-family: "Libre Franklin", sans-serif;
  overflow-x: hidden;
}

.shrinkHeader {
  transition: all 0.4s ease-in-out;
  display: flex;
  padding: 8.5px 0px 8.5px 35px !important;
  align-items: center;
  img {
    width: 90px;
    height: 30px;
    padding-top: 5px;
  }
  .fas {
    margin-bottom: 5px;
  }
}

.gatherHeader {
  transition: all 0.2s ease-in-out;
  justify-content: left !important;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
}

.edit-logo {
  transition: all 0.3s ease-in-out;
  padding: 8.5px 0px 8.5px 5px !important;
  .header__list {
    font-size: 35px;
    display: flex;
    align-items: center;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 100;
  @include responsive("mobNtab") {
    justify-content: left;
    .header__column {
      display: flex;
      padding: 8.5px 0px 8.5px 35px !important;
      align-items: center;
      img {
        padding-top: 0px;
        width: 90px;
        height: 30px;
      }
      .header__list {
        font-size: 35px;
        display: flex;
        align-items: center;
      }
    }
    .js-hide {
      padding: 8.5px 0px 8.5px 5px !important;
    }
  }
  .header__column {
    padding: 22px 35px;
    font-family: fairweather, sans-serif;
    font-size: 65px;
    font-weight: 900;
    display: flex;
    &:last-child {
      padding-right: 95px;
      .header__list {
        cursor: pointer;
        letter-spacing: 1.5px;
      }
    }
    .header__list {
      display: flex;
      .logo {
        cursor: pointer;
      }
      i {
        font-size: 27px;
        align-self: flex-start;
        margin-right: 40px;
        padding-top: 5px;
        cursor: pointer;
      }
    }
  }
}

.main {
  margin: 0px 5vw !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  .banner {
    padding: 0px 0px 20px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // height: calc(100vh - 109px) !important;
    .banner__title {
      padding-top: 50px;
      display: flex;
      width: 100%;
      justify-content: center;
      position: relative;
      .title__text {
        font-size: 30px;
        font-weight: 500;
      }
      button {
        position: absolute;
        right: 10px;
        top: 40px;
        font-size: 40px;
        transition: transform 0.2s ease-in-out;
        &:hover {
          transform: translateY(10px);
        }
      }
    }
    .banner__img {
      max-width: 750px;
      max-height: 540px;
      display: flex;
      justify-content: center;
      object-fit: cover;
    }
    img {
      width: 100%;
      max-width: 750px;
      max-height: 540px;
    }
  }
  .about {
    padding: 100px 50px 140px 50px;
    @include responsive("mobNtab") {
      padding: 80px 20px 100px 20px;
    }
    @include responsive("mobile") {
      padding: 80px 10px 80px 10px;
    }
    .about__desc {
      font-size: 31px;
      line-height: 2.9rem;
      @include responsive("mobNtab") {
        font-size: 15px;
        line-height: 1.7rem;
      }
      &::before {
        content: "About";
        padding-right: 4rem;
        font-size: 23px;
        font-weight: 600;
        @include responsive("mobNtab") {
          font-size: 16px;
        }
      }
      button {
        display: block;
        font-size: 23px;
        font-weight: 500;
        padding: 10px 0px;
        @include responsive("mobNtab") {
          font-size: 16px;
        }
        i {
          padding: 10px;
        }
      }
    }
  }
  .section {
    padding: 20px 0px;
    // margin: 0px 5vw;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    @include article;
  }
  .monthly,
  .podcast {
    .article__content {
      order: 1;
    }
  }
  @include responsive("mobile") {
    .journalism,
    .paper {
      .article__content {
        order: 1;
      }
    }
  }
  .card {
    @include card;
  }
  .essay,
  .shop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    @include responsive("mobNtab") {
      column-gap: 15px;
    }
    @include responsive("mobile") {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 0.8fr;

      .card {
        &:last-child {
          padding-top: 20px;
          border-top: 1px solid rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
  .essay {
    @include responsive("mobile") {
      .card {
        &:first-child {
          padding-bottom: 20px;
        }
      }
    }
  }
  .ad {
    .article {
      grid-template-columns: 1fr !important;
      grid-template-rows: auto;
      .article__content {
        display: grid;
        column-gap: 30px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        .article__title {
          grid-row-start: 1;
          grid-column-start: 1;
        }
        .article__desc {
          grid-row-start: 2;
          grid-column-start: 1;
        }
        .article__img {
          grid-column: 2 / span 1;
          grid-row: 1 / span 3;
        }
      }
      @include responsive("mobile") {
        .article__content {
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: repeat(4, auto);
          .article__title {
            padding-top: 20px;
          }
          .article__img {
            grid-row: 2 / span 1;
            grid-column-start: 1;
            padding-bottom: 20px;
          }
          .article__desc {
            grid-row-start: 3;
          }
        }
      }
    }
  }
  .shop {
    column-gap: 30px;
    .wine {
      .card__img {
        background-color: black;
        img {
          filter: invert(100%);
          object-fit: contain;
        }
      }
    }
  }
  .more {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 25px;
    padding-bottom: 100px;
    @include responsive("mobile") {
      grid-template-columns: auto;
      grid-template-rows: repeat(3, 1fr);
      .card__title {
        padding-bottom: 0px;
      }
      .card:nth-child(2) {
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        padding-bottom: 20px;
      }
    }
  }
}

.footer {
  height: 300px;
  background-color: #464646;
  color: white;
  font-weight: 300;
  @include responsive("mobNtab") {
    height: 360px;
  }
  .nav {
    height: 100%;
    margin: 0px 5vw;
    padding: 30px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    @include responsive("mobNtab") {
      grid-template-columns: 1fr;
      grid-template-rows: 5fr 1fr;
      row-gap: 20px;
      font-size: 9px;
    }
    .nav__item {
      font-size: 15px;
      line-height: 1.3rem;
      cursor: pointer;
    }
    .nav__column:first-child {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .nav__list {
        padding-top: 20px;
      }
      .nav__logo {
        filter: invert(100%);
        padding-bottom: 50px;
        img {
          width: 100px;
        }
      }
    }
    .nav__column:last-child {
      display: flex;
      justify-content: space-between;
      @include responsive("mobNtab") {
        align-items: flex-end;
      }
    }
  }
}

.italic {
  font-style: italic;
}
